/* CSS */

* {
    margin: 0;
    font-family:'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    max-width: 850px;
    margin: 0 auto;
}

.search {
    display: flex;
    position: relative;
    margin: 1em auto;
}

.searchbar {
    border: 1px solid black;
    width: 200px;
    height: 30px;
}

.body-footer {
    text-align: center;
    padding: 10px;
    background-color: d3d3d3;
}