/* CSS */

* {
    margin: 0;
    font-family:'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    max-width: 850px;
    margin: 0 auto;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

input[type="search"] {
    width: 500px;
    height: 40px;
    border-color: lightgray;
    margin: 5px;
    border-radius: 5px;
}

.searchbar {
    border: 1px solid black;
    width: 200px;
    height: 30px;
}